.ico {
    cursor: pointer;
    display: inline-block;
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    &_violet {
        background-color: $color-violet;
    }
    &_yellow {
        background-color: $color-yellow;
    }
    &_red {
        background-color: $color-red;
    }
    &_blue {
        background-color: $color-blue;
    }
}

.ico_play {
    background-image: url("../img/section1/Triangle.svg");
    width: 18px;
    height: 19px;
}

.ico_arrow {
    background-image: url("../img/section1/arrow.svg");
    width: 12px;
    height: 17px;
}

.ico_snake {
    background-image: url("../img/section1/snake.svg");
    width: 18px;
    height: 14px;
}

.ico_heart {
    background-image: url("../img/section1/heart.svg");
    width: 17px;
    height: 15px;
}

.ico_clock {
    background-image: url("../img/section1/clock.svg");
    width: 15px;
    height: 17px;
}